body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

#hangman-image {
    margin: 20px 0;
}

#word-display {
    font-size: 24px;
    margin: 20px 0;
    color: #333;
}

#guesses {
    font-size: 18px;
    margin: 10px 0;
    color: #555;
}

#guess-input {
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

#guess-button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#guess-button:hover {
    background-color: #0056b3;
}

#message {
    font-size: 18px;
    color: red;
    margin-top: 10px;
}
